{% extends "admin.twig" %}

{% block content %}

<h1>Les répertoires serveur</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Chemin</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">Aucun répertoire pour le moment.</td>
    </tr>
  </tbody>
</table>

{% endblock %}
