{% extends "admin.twig" %}

{% block content %}

<h1>Paramètres de l'application</h1>
<form class="form-group" action="" method="post">
  <h3>Modifier la taille max des fichiers uploadé:</h3>
    <label for="select" class="control-label">Format de taille :</label>
    <select class="form-control" id="select" name="format">
      <option value="mo" selected>Mo</option>
      <option value="go">Go</option>
    </select>
    <br>

    <label class="control-label" for="maxSize">Taille d'upload max :</label>
    <input class="form-control" id="maxSize" value="{{ upload_size }}" type="number" name="size">

    <br>
    <button type="submit" id="btnSubmit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer</button>
</form>

{% endblock %}
