{% extends "layout.twig" %}

{% block content %}

<h1>Répertoires serveur</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">Vous n'avez accès à aucun répertoire pour le moment.</td>
    </tr>
  </tbody>
</table>

<br>

<h1>Répertoires partagés</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Propriétaire</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">Vous n'avez accès à aucun répertoire pour le moment.</td>
    </tr>
  </tbody>
</table>

{% endblock %}
